.tablet,
.desktop {
  display: none;
}
.keyboard,
.glass-and-keyboard,
.phone-and-keyboard,
.layer {
  border-radius: 2rem;
}
.keyboard {
  height: 33.1rem;
  width: 37.2rem;
  margin-bottom: 2.4rem;
}
.phone-and-keyboard {
  height: 19.3rem;
  width: 12.9rem;
}
.glass-and-keyboard {
  height: 19.3rem;
  width: 22rem;
}
.column-images {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 2.4rem;
}
.image-layer {
  position: relative;
}
.image-layer img {
  opacity: 0.75;
}
.column-images .layer {
  position: absolute;
  background-color: var(--first-color);
  mix-blend-mode: multiply;
  top: 0;
  left: 0;
  height: 19.3rem;
  width: 12.9rem;
}

/* Tablet */
@media (min-width: 768px) {
  .mobile {
    display: none;
  }
  .tablet {
    display: initial;
  }
  .keyboard {
    height: 42.5rem;
    width: 47.8rem;
    margin-bottom: 0;
  }
  .phone-and-keyboard {
    height: 32rem;
    width: 21.4rem;
  }
  .glass-and-keyboard {
    height: 32rem;
    width: 44.5rem;
  }
  .column-images {
    column-gap: 3rem;
    margin-right: auto;
  }
  .column-images .layer {
    height: 32rem;
    width: 21.4rem;
  }
}

/* Desktop - widescreen */
@media (min-width: 1440px) {
  .tablet {
    display: none;
  }
  .desktop {
    display: initial;
  }
  .keyboard {
    height: 48rem;
    width: 54rem;
  }
  .phone-and-keyboard,
  .column-images .layer {
    height: 48rem;
    width: 25.5rem;
  }
  .glass-and-keyboard {
    height: 48rem;
    width: 44.5rem;
  }
  .column-images {
    column-gap: 3rem;
    margin-right: none;
  }
}
