.first-section .title {
  font-size: 4.8rem;
  line-height: 4.8rem;
  color: var(--third-color);
  margin-bottom: 3.2rem;
}
.first-section .text {
  color: var(--fourth-color);
  margin-bottom: 3.2rem;
}
.first-section .bottom-content {
  display: flex;
  align-items: center;
  column-gap: 3.2rem;
  margin-bottom: 6.4rem;
}
.bottom-content button {
  background-color: var(--first-color);
  color: var(--white-color);
  height: 4.8rem;
  width: 15.1rem;
  border: none;
  border-radius: 0.8rem;
  font-family: "Barlow", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}
.bottom-content button:hover {
  cursor: pointer;
  background-color: var(--second-color);
}
.bottom-content p {
  color: var(--fourth-color);
  text-transform: uppercase;
  font-weight: 700;
}
/* Images */
.keyboard,
.glass-and-keyboard,
.phone-and-keyboard {
  border-radius: 2rem;
}
.keyboard {
  height: 33.1rem;
  width: 37.2rem;
  margin-bottom: 2.4rem;
}
.glass-and-keyboard {
  height: 19.3rem;
  width: 22rem;
}
.phone-and-keyboard {
  height: 19.3rem;
  width: 12.9rem;
}
.column-images {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 2.4rem;
  margin-bottom: 7.5rem;
}
